.app {
  background: steelblue;
  padding: 30px;
  height: 100vh;
}
.title {
  text-align: center;
  color: yellowgreen;
}
.todo-list {
  max-width: 400px;
  background: firebrick;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}

.todo {
  background: aliceblue;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.todo:last-child {
  margin-bottom: 0px;
}
